<!DOCTYPE HTML>
<html>
	<head>
		<title>TheReachBack</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

		<script> 
			$(document).ready(function(){
				var path = window.location.pathname;
				var b = $('body')[0];
				var li;
				var pathId;
					if (path === "/scorecard"){
						pathId = "scorePage";
						li = $('#nav li a')[1].parentNode;
					} else if (path.match(/\/course\//)){
						pathId = "showPage";
						li = $('#nav li a')[2].parentNode;
					} else if (path.match(/\/courses\//)){
						pathId = "coursePage";
						li = $('#nav li a')[2].parentNode;
					} else if (path === "/stats"){
						pathId = "statsPage";
						li = $('#nav li a')[3].parentNode;
					} else if (path.match(/\/videos\//)){
						pathId = "videoPage";
						li = $('#nav li a')[4].parentNode;
					} else {
						pathId = "homepage";
						li = $('#nav li a')[0].parentNode;
					}
					b.setAttribute("id", pathId);
					li.setAttribute("class", "active");
			});
		</script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<link rel="stylesheet" href="/stylesheets/skel-noscript.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/style-desktop.css">

		<link rel="stylesheet" type="text/css" href="/stylesheets/style-mobile.css" media="screen and (max-width: 767px)">

		

	</head>
	<body>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 mx-auto col-sm-6">
          	<h1>Login</h1>
			<form>
				<input type="text" name="username" id="username" placeholder="username">
				<input type="password" name="password" id="password" placeholder="password">
				<p id="loginError"></p>
				<button class="button" id="loginButton">Login</button>
			</form>
          </div>
          <div class="col-xs-12 mx-auto col-sm-6" id="registerNow">
          	<h1>Not a member?</h1>
          	<p>Accounts are completely free and easy to create! Join now to start tracking your progress and compare your averages to your friends!</p>
          	<button type="button" data-dismiss="modal" data-toggle="modal" data-target="#registerModal">Create FREE Account</button>
          </div>

        </div>
        
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 mx-auto">
          	<h1>Sign Up</h1>
			<form>
				<input type="text" name="username" id="registerUsername" placeholder="username">
				<input type="password" name="password" id="registerPassword" placeholder="password">
				<p id="registerError"></p>
				<button class="button" id="registerButton">Join Now!</button>
			</form>
          </div>
        </div>
        
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 

	<!-- Header -->
	<div class="navbar-wrapper">
		<div class="navbar nabvar-default navbar-static-top" id="header">
			<div class="container-fluid">

				
					
				<!-- Logo -->
				<div class="navbar-header">
					<a class="navbar-brand hidden-xs" href="/"><img src="/images/reachback.png" alt=""></a>
					<a class="navbar-brand hidden-sm hidden-md hidden-lg" href="/"><img src="/images/reachbacksmall.png" alt=""></a>
					
					<button type="button" class="btn btn-lg navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse" id="toggleNav">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
					</button>
				</div>
				
				<!-- Nav -->
					<div class="collapse navbar-collapse navHeaderCollapse" id="nav">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/">Home</a></li>
							<li><a href="/scorecard">Scorecard</a></li>
							<li><a href="/courses/1">Courses</a></li>
							<li><a href="/stats">Stats</a></li>
							<li><a href="/videos/1">Videos</a></li>
						<% if(!currentUser) { %>
							<li><a href="#" data-toggle="modal" data-target="#loginModal">Login/Signup</a></li>
						<% } else { %>
							<li><a href="/logout">Logout</a></li>
						<% } %>
						</ul>
						<% if(currentUser) { %>
							<span id="currentUser">Signed in as <%= currentUser.username %></span>
						<% } %>
					</div>

			</div>
		</div>
	</div>
	<!-- Header -->
	<!-- Banner -->
		<div id="banner">
			<div class="container">
			</div>
		</div>
	<!-- /Banner -->