<% include partials/header %>		

<body class="homepage">

	<!-- Header -->
		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<h1><a href="#"><img src="images/reachback.png" alt=""></a></h1>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="active"><a href="home">Home</a></li>
							<li><a href="/scorecard">Scorecard</a></li>
							<li><a href="/courses">Courses</a></li>
							<li><a href="/store">Store</a></li>
							<li><a href="/videos">Videos</a></li>
						</ul>
					</nav>

			</div>
		</div>
	<!-- Header -->
	<!-- Banner -->
		<div id="banner">
			<div class="container">
			</div>
		</div>
	<!-- /Banner -->

	<!-- Main -->
		<div id="page">

			<!-- Main -->
			<div id="main" class="container">
				<div class="row">
					<div class="col-xs-12 col-lg-9">
						<section>
							<header>
								<h2>Newest JomezPro Release</h2>
								<span class="byline">Bringing you the best in Disc Golf video productions, JomezPro never ceases to excite!</span>
							</header>
							<div class="embed-responsive embed-responsive-16by9">
							<iframe width="800" height="450" src="https://www.youtube.com/embed/NyIBBjX7Za0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							</div>
							<a href="#" class="button">More Videos</a>
						</section>
					</div>
					<div class="hidden-md hidden-sm hidden-xs col-lg-3">
						<section class="sidebar">
							<!-- <header>
								<h2>Headlines</h2>
							</header> -->
							<ul class="style2">
								<li>
									<a href="#"><img src="images/eagle.png" alt=""></a>
									<p>Eagle McMahon clinches his first Major victory at the 2018 Las Vegas Challenge</p>
								</li>
								<li>
									<a href="#"><img src="images/mcbeth.jpg" alt=""></a>
									<p>Is Paul McBeth losing his stride? Or is his recent honeymoon to blame..</p>
								</li>
								<li>
									<a href="#"><img src="images/simonlizotte.png" alt=""></a>
									<p>Simon Lizotte runs away with the lead in the 2018 Memorial Championship</p>
								</li>
								<li>
									<a href="#"><img src="images/rickywysocki.png" alt=""></a>
									<p>Is Ricky Wysocki going to take his third straight World Title in 2018? </p>
								</li>
							</ul>						
						</section>
					</div>
				</div>
			</div>
			<!-- Main -->

			<!-- Extra -->
			<div id="marketing" class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<section>
							<header>
								<h2>The Reach Back Stats</h2>
							</header>
							<p class="subtitle">View the current standings of all ReachBack disc golfers. Click below to find out where you fall in the rankings.</p>
							<p><a href="#"><img class="maxWidth" src="images/stats.png" alt=""></a></p>
							<a href="#" class="button">Stats</a>
						</section>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<section>
							<header>
								<h2>PDGA Season Schedule</h2>
							</header>
							<p class="subtitle">Click below to be directed to PDGA.com where you can find the current schedule for all events happening in 2018.</p>
							
							<a href="https://www.pdga.com/tour/events"><img class="maxWidth" src="images/pdgaschedule.png" alt=""></a>
							
							<a href="https://www.pdga.com/tour/events" class="button">PDGA Schedule</a>
						</section>
					</div>
					<div class="col-xs-12 col-md-4">
						<section>
							<header>
								<h2>This Week's Pro Tip</h2>
							</header>
							<p class="subtitle">This week we have brought you Sidearm tips by Nate Sexton. Click below to check it out.</p>
							<div class="embed-responsive embed-responsive-16by9">
							<p><iframe width="350" height="200" src="https://www.youtube.com/embed/SQ6Wutvn4Mg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							</div>
							<a href="#" class="button">More Pro Tips</a>
						</section>
					</div>
				</div>
			</div>
			<!-- /Extra -->

		</div>
	<!-- /Main -->

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<div class="row">
					<section class="hidden-sm hidden-xs col-md-4">
						<div class="box">
							<a href="#" class="image left"><img src="images/westsidesword.png" alt=""></a>
							<h3>Featured Disc</h3>
							<p><strong>Westside Sword: </strong> </p>
							<p>high-speed driver <br>| Speed: 12 | Glide: 5 |<br>|  Turn: 0  |  Fade: 2 |</p>
						</div>
					</section>
					<section class="hidden-sm hidden-xs col-md-4">
						<div class="box">
							<a href="#" class="image left"><img src="images/royg.png" alt=""></a>
							<h3>Featured Course</h3>
							<p><strong>Roy G. Guererro Park:</strong></p>
							<p>Very technical and wooded championship level course.</p>
						</div>
					</section>
					<section class="hidden-sm hidden-xs col-md-4">
						<div class="box">
							<a href="#" class="image left"><img src="images/shiftbag.png" alt=""></a>
							<h3>Featured Bag</h3>
							<p><strong>Upper Park Shift Bag: </strong></p>
							<p>Voted the most comfortable bag in disc golf.</p>
						</div>
					</section>
				</div>
				<div class="divider"></div>
			</div>
		</div>
	<!-- /Featured -->


<% include partials/footer %>