<% include partials/header %>

<!-- Main -->
<div id="page">

	<!-- Main -->
	<div id="main" class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-9">
				<section>
					<header>
						<h2>Newest JomezPro Release</h2>
						<span class="byline">Bringing you the best in Disc Golf video productions, JomezPro never ceases
							to excite!</span>
					</header>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/nZNrxqm3qUU" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
					<a href="/videos/1" class="button">More Videos</a>
				</section>
			</div>
			<div class="hidden-md hidden-sm hidden-xs col-lg-3">
				<section class="sidebar">
					<!-- <header>
								<h2>Headlines</h2>
							</header> -->
					<ul class="style2">
						<li>
							<img src="images/eagle.png" alt="">
							<p>Eagle McMahon clinches two more Majors to start the 2019 season.</p>
						</li>
						<li>
							<img src="images/mcbeth.jpg" alt="">
							<p>Paul McBeth shoots another perfect round at Brazos East in Waco, Texas.</p>
						</li>
						<li>
							<img src="images/simonlizotte.png" alt="">
							<p>Simon Lizotte runs away with the lead in the 2018 Memorial Championship.</p>
						</li>
						<li>
							<img src="images/rickywysocki.png" alt="">
							<p>Ricky Wysocki switches to INNOVA! Will he take his third World Title in 2019? </p>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
	<!-- Main -->

	<!-- Extra -->
	<div id="marketing" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<section>
					<header>
						<h2>The Reach Back Stats</h2>
					</header>
					<p class="subtitle">View the current standings of all ReachBack disc golfers. Click below to find
						out where you fall in the rankings.</p>
					<p><a href="/stats"><img class="maxWidth" src="images/stats.png" alt=""></a></p>
					<a href="/stats" class="button">Stats</a>
				</section>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<section>
					<header>
						<h2>PDGA Season Schedule</h2>
					</header>
					<p class="subtitle">Click below to be directed to PDGA.com where you can find the current schedule
						for all events happening in 2018.</p>

					<a href="https://www.pdga.com/tour/events"><img class="maxWidth" src="images/pdgaschedule.png"
							alt=""></a>

					<a href="https://www.pdga.com/tour/events" class="button">PDGA Schedule</a>
				</section>
			</div>
			<div class="col-xs-12 col-md-4">
				<section>
					<header>
						<h2>This Week's Pro Tip</h2>
					</header>
					<p class="subtitle">This week we have brought you Sidearm form and grip tips by Sidearm Guru, Nate
						Sexton. Click below to check it out.</p>
					<div class="embed-responsive embed-responsive-16by9">
						<p><iframe width="350" height="200" src="https://www.youtube.com/embed/SQ6Wutvn4Mg?rel=0"
								frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
					</div>
					<a href="/videos/1?t=tips" class="button">More Pro Tips</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Extra -->

</div>
<!-- /Main -->

<!-- Featured -->
<div id="featured">
	<div class="container">
		<div class="row">
			<section class="hidden-sm hidden-xs col-md-4">
				<div class="box">
					<a href="#" class="image left"><img src="images/westsidesword.png" alt=""></a>
					<h3>Featured Disc</h3>
					<p><strong>Westside Sword: </strong> </p>
					<p>high-speed driver <br>| Speed: 12 | Glide: 5 |<br>| Turn: 0 | Fade: 2 |</p>
				</div>
			</section>
			<section class="hidden-sm hidden-xs col-md-4">
				<div class="box">
					<a href="#" class="image left"><img src="images/royg.png" alt=""></a>
					<h3>Featured Course</h3>
					<p><strong>Roy G. Guererro Park:</strong></p>
					<p>Very technical championship level course.<br><br><br></p>
				</div>
			</section>
			<section class="hidden-sm hidden-xs col-md-4">
				<div class="box">
					<a href="#" class="image left"><img src="images/shiftbag.png" alt=""></a>
					<h3>Featured Bag</h3>
					<p><strong>Upper Park Shift Bag: </strong></p>
					<p>Voted the most comfortable bag in disc golf.<br><br><br></p>
				</div>
			</section>
		</div>
		<div class="divider"></div>
	</div>
</div>
<!-- /Featured -->



<% include partials/footer %>