<% include partials/header %>

<body>

	<!-- Header -->
	<div class="navbar-wrapper">
		<div class="navbar nabvar-default navbar-static-top" id="header">
			<div class="container-fluid">

				
					
				<!-- Logo -->
				<div class="navbar-header">
					<a class="navbar-brand hidden-xs" href="/"><img src="images/reachback.png" alt=""></a>
					<a class="navbar-brand hidden-sm hidden-md hidden-lg" href="/"><img src="images/reachbacksmall.png" alt=""></a>
					
					<button type="button" class="btn btn-lg navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse" id="toggleNav">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
					</button>
				</div>
				
				<!-- Nav -->
					<div class="collapse navbar-collapse navHeaderCollapse" id="nav">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/scorecard">Scorecard</a></li>
							<li><a href="/courses">Courses</a></li>
							<li><a href="/store">Store</a></li>
							<li><a href="/videos">Videos</a></li>
							<li><a href="/register">Join!</a></li>
							<li><a href="/login">Login</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</div>

			</div>
		</div>
	</div>

<!-- Banner -->
	<div id="banner">
		<div class="container">
		</div>
	</div>
<!-- /Banner -->

	<!-- Main -->
<div id="page">

			<!-- Main -->
	<div id="main" class="container">

		<h1>Login</h1>

		<form action="/login" method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<button>Login</button>
		</form>

		<h1>Sign up!</h1>

		<form action="/register" method="post">
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<button>Sign Up</button>
		</form>

	</div>
</div>

<!-- Featured -->
	<div id="featured">
		<div class="divider"></div>
	</div>
<!-- /Featured -->

<% include partials/footer %>