<% include partials/header %>


	<!-- Main -->
		<div id="page">
				
			<!-- Main -->
			<div id="main" class="container">
				<div class="row">
				
					<div class="col-centered" id="scorePage">
						<!-- <section> -->
							<div id="test"></div>

							<header>
								<h2 id="scorecardHeader">Scorecard</h2>
								<span class="byline">Warm up by selecting course and entering Player Names!</span>
							</header>
							<div class="row text-center" id="courses">
								<div class="col-xs-12">
									<select id="courseSelect">
										<option hidden="hidden" selected="selected">Choose The Course</option>
										<option id="customCourse">Custom Course</option>
										<% courses.forEach(function(course){%>
											<option id="<%=course._id%>"><%= course.name %></option>
										<%});%>
										
									</select>
									<br>
									<input type="text" name="custom" placeholder="Enter Course Name" id="custom" style="display: none">
								</div>
							</div>
							<div class="container col-centered">
							<div class="row col-centered" id="scorecardSetup">
								<div class="col-xs-12 col-sm-4 col-centered" id="playerCount">
									<h3>How<br>Many<br>Players?</h3>
								 	<select id="playerCountVal">
								 		<option value="1">1</option>
								 		<option value="2">2</option>
								 		<option value="3">3</option>
								 		<option value="4">4</option>
								 		<option value="5">5</option>
								 		<option value="6">6</option>
								 		<option value="7">7</option>
								 		<option value="8" selected="selected">8</option>
								 	</select>
								</div>
								<div class="col-xs-12 col-sm-8 col-centered" id="playerNames">
									<h3>Player Names</h3>
									<% if(currentUser) {%>
										<input type="text" name="player1" id="player1" value="<%=currentUser.username%>">
									<%} else {%>
										<input type="text" name="player1" id="player1" placeholder="Player Name">
									<%}%>
									<input type="text" name="player2" id="player2" placeholder="Player Name">
									<input type="text" name="player3" id="player3" placeholder="Player Name">
									<input type="text" name="player4" id="player4" placeholder="Player Name">
									<input type="text" name="player5" id="player5" placeholder="Player Name">
									<input type="text" name="player6" id="player6" placeholder="Player Name">
									<input type="text" name="player7" id="player7" placeholder="Player Name">
									<input type="text" name="player8" id="player8" placeholder="Player Name">

								</div>
							<!-- </div> -->
								<div class="container" id="parList">
									<!-- <div class="container"> -->
									<div class="row">
									<div class="col-xs-12" id="holePar">
									<% include partials/customPars %>
							</div>
						</div>
						<a href="#" class="button" id="beginRound">Begin Round</a>
						<div class="errors" id="playerError">Please enter names for all players!</div>
						<div class="errors" id="courseError">Please select a course!</div>
					</div>
				</div>
				</div>

				<div class="col-xs-12" id="holeScorecard">
								
					<table id="holeScore">
									
					</table>

				</div>
						<!-- </section> -->
			</div>
					
		</div>

	</div>
			<!-- Main -->
</div>
	<!-- /Main -->

	<!-- Featured -->
		<div id="featured">
			<div class="divider"></div>
		</div>
	<!-- /Featured -->

<% include partials/footer %>