<% include partials/header %>

<body>

	<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<h1><a href="#"><img src="images/reachback.png"></a></h1>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="active"><a href="/scorecard">Scorecard</a></li>
							<li><a href="/courses">Courses</a></li>
							<li><a href="/store">Store</a></li>
							<li><a href="/videos">Videos</a></li>
						</ul>
					</nav>

			</div>
		</div>
		
	<!-- Banner -->
		<div id="banner">
			<div class="container">
			</div>
		</div>
	<!-- /Banner -->

	<!-- Main -->
		<div id="page">
				
			<!-- Main -->
			<div id="main" class="container">
				<div class="row">
				
					<div class="12u skel-cell-important">
						<section>
							<header>
								<h2 id="scorecardHeader">Scorecard</h2>
								<span class="byline">Warm up by entering course par and Player Names!</span>
							</header>
							<div id="scorecardSetup">
								<div class="4u" id="playerCount">
									<h3>How Many Players?</h3>
								 	<select id="playerCountVal">
								 		<option value="1">1</option>
								 		<option value="2">2</option>
								 		<option value="3">3</option>
								 		<option value="4">4</option>
								 		<option value="5">5</option>
								 		<option value="6">6</option>
								 		<option value="7">7</option>
								 		<option value="8" selected="selected">8</option>
								 	</select>
								</div>
								<div class="8u" id="playerNames">
									<h3>Player Names</h3>
									<input type="text" name="player1" id="player1" placeholder="Player Name">
									<input type="text" name="player2" id="player2" placeholder="Player Name">
									<input type="text" name="player3" id="player3" placeholder="Player Name">
									<input type="text" name="player4" id="player4" placeholder="Player Name">
									<input type="text" name="player5" id="player5" placeholder="Player Name">
									<input type="text" name="player6" id="player6" placeholder="Player Name">
									<input type="text" name="player7" id="player7" placeholder="Player Name">
									<input type="text" name="player8" id="player8" placeholder="Player Name">
								</div>
								<div class="9u" id="holePar">
									<table class="12u" id="table2">
									<colgroup span="18"></colgroup>
									<tr>
										<th>Hole -</th>
										<th>1</th>
										<th>2</th>
										<th>3</th>
										<th>4</th>
										<th>5</th>
										<th>6</th>
										<th>7</th>
										<th>8</th>
										<th>9</th>
										<th>10</th>
										<th>11</th>
										<th>12</th>
										<th>13</th>
										<th>14</th>
										<th>15</th>
										<th>16</th>
										<th>17</th>
										<th>18</th>
										<th>CoursePar</th>
									</tr>
									<tr>
										<th>Par -</th>
										<td>
											<select id="hole1">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole2">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole3">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole4">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole5">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole6">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole7">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole8">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole9">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole10">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole11">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole12">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole13">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole14">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole15">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole16">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole17">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<td>
											<select id="hole18">
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</td>
										<th id="coursePar">54</th>
									</tr>

								</table>
								</div>
								<a href="#" class="button" id="beginRound">Begin Round</a>
								<div id="errors">Please enter names for all players!</div>
							</div>

							<div class="12u" id="holeScorecard">
								
								<table id="holeScore">
									
								</table>

							</div>
						</section>
					</div>
					
				</div>

			</div>
			<!-- Main -->

		</div>
	<!-- /Main -->

	<!-- Featured -->
		<div id="featured">
			<div class="divider"></div>
		</div>
	<!-- /Featured -->

<% include partials/footer %>