<% include partials/header %>

<body id="scorecardPage">

	<div class="navbar-wrapper">
		<div class="navbar nabvar-default navbar-static-top" id="header">
			<div class="container-fluid">

				
					
				<!-- Logo -->
				<div class="navbar-header">
					<a class="navbar-brand hidden-xs" href="/"><img src="images/reachback.png" alt=""></a>
					<a class="navbar-brand hidden-sm hidden-md hidden-lg" href="/"><img src="images/reachbacksmall.png" alt=""></a>
					
					<button type="button" class="btn btn-lg navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse" id="toggleNav">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
					</button>
				</div>
				
				<!-- Nav -->
					<div class="collapse navbar-collapse navHeaderCollapse" id="nav">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/">Home</a></li>
							<li class="active"><a href="/scorecard">Scorecard</a></li>
							<li><a href="/courses">Courses</a></li>
							<li><a href="/store">Store</a></li>
							<li><a href="/videos">Videos</a></li>
						<% if(!currentUser) { %>
							<li><a href="/login">Login/Signup</a></li>
						<% } else { %>
							<li><a href="/logout">Logout</a></li>
						<% } %>
						</ul>
					</div>

			</div>
		</div>
	</div>
		
	<!-- Banner -->
		<div id="banner">
			<div class="container">
			</div>
		</div>
	<!-- /Banner -->

	<!-- Main -->
		<div id="page">
				
			<!-- Main -->
			<div id="main" class="container">
				<div class="row">
				
					<div class="col-centered scorePage">
						<!-- <section> -->
							<header>
								<h2 id="scorecardHeader">Scorecard</h2>
								<span class="byline">Warm up by entering course par and Player Names!</span>
							</header>
							<div class="container col-centered">
							<div class="row col-centered" id="scorecardSetup">
								<div class="col-xs-12 col-sm-4 col-centered" id="playerCount">
									<h3>How<br>Many<br>Players?</h3>
								 	<select id="playerCountVal">
								 		<option value="1">1</option>
								 		<option value="2">2</option>
								 		<option value="3">3</option>
								 		<option value="4">4</option>
								 		<option value="5">5</option>
								 		<option value="6">6</option>
								 		<option value="7">7</option>
								 		<option value="8" selected="selected">8</option>
								 	</select>
								</div>
								<div class="col-xs-12 col-sm-8 col-centered" id="playerNames">
									<h3>Player Names</h3>
									<input type="text" name="player1" id="player1" placeholder="Player Name">
									<input type="text" name="player2" id="player2" placeholder="Player Name">
									<input type="text" name="player3" id="player3" placeholder="Player Name">
									<input type="text" name="player4" id="player4" placeholder="Player Name">
									<input type="text" name="player5" id="player5" placeholder="Player Name">
									<input type="text" name="player6" id="player6" placeholder="Player Name">
									<input type="text" name="player7" id="player7" placeholder="Player Name">
									<input type="text" name="player8" id="player8" placeholder="Player Name">
								</div>
							<!-- </div> -->
								<div class="container" id="holePar">
									<!-- <div class="container"> -->
									<div class="row">
									<div class="col-xs-12">
									<table id="table1">
									
									<tr>
										<table>
											<tr>
												<th>Hole</th>
											</tr>
											<tr>
												<th>Par</th>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>1</th>
											</tr>
											<tr>
												<td>
													<select id="hole1">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>2</th>
											</tr>
											<tr>
												<td>
													<select id="hole2">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>3</th>
											</tr>
											<tr>
												<td>
													<select id="hole3">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>4</th>
											</tr>
											<tr>
												<td>
													<select id="hole4">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>5</th>
											</tr>
											<tr>
												<td>
													<select id="hole5">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>6</th>
											</tr>
											<tr>
												<td>
													<select id="hole6">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>7</th>
											</tr>
											<tr>
												<td>
													<select id="hole7">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>8</th>
											</tr>
											<tr>
												<td>
													<select id="hole8">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>9</th>
											</tr>
											<tr>
												<td>
													<select id="hole9">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
							</table>
							<!-- </div>
							<div class="col-xs-12 col-md-6"> -->
							<table id="table2">
									<tr>
										<table>
											<tr>
												<th>10</th>
											</tr>
											<tr>
												<td>
													<select id="hole10">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>11</th>
											</tr>
											<tr>
												<td>
													<select id="hole11">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>12</th>
											</tr>
											<tr>
												<td>
													<select id="hole12">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>13</th>
											</tr>
											<tr>
												<td>
													<select id="hole13">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>14</th>
											</tr>
											<tr>
												<td>
													<select id="hole14">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>15</th>
											</tr>
											<tr>
												<td>
													<select id="hole15">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>16</th>
											</tr>
											<tr>
												<td>
													<select id="hole16">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>17</th>
											</tr>
											<tr>
												<td>
													<select id="hole17">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>18</th>
											</tr>
											<tr>
												<td>
													<select id="hole18">
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
													</select>
												</td>
											</tr>
										</table>
									</tr>
									<tr>
										<table>
											<tr>
												<th>CoursePar</th>
											</tr>
											<tr>
												<th id="coursePar">54</th>
											</tr>
										</table>
									</tr>
								</table>
							</div>
						</div>
								
								<a href="#" class="button" id="beginRound">Begin Round</a>
								<div id="errors">Please enter names for all players!</div>
								</div>
							</div>
						</div>

							<div class="col-xs-12" id="holeScorecard">
								
								<table id="holeScore">
									
								</table>

							</div>
						<!-- </section> -->
					</div>
					
				</div>

			</div>
			<!-- Main -->

		</div>
	<!-- /Main -->

	<!-- Featured -->
		<div id="featured">
			<div class="divider"></div>
		</div>
	<!-- /Featured -->



<% include partials/footer %>