<% include partials/header %>

<div id="page">
	<div class="container">
			
		<table>
			<thead>
				<td>Player</td>
				<td>Course</td>
				<td>Score</td>
				<td>Date</td>
			</thead>
			<tbody>
				<% scores.forEach(function(score){%>
				<tr>
					<td><%= score.player.username %></td>
					<td><%= score.course %></td>
					<td><%= score.toPar %></td>
					<td><%= score.date %></td>
				</tr>
				<%});%>
			</tbody>
		</table>
	</div>
</div>

	<!-- Featured -->
		<div id="featured">
			<div class="divider"></div>
		</div>
	<!-- /Featured -->

<% include partials/footer %>